body {
  --twitter-color: #006fd2;
  --twitter-background: #ced7da;
}
.app {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}
/* In above change the rule so that sidebar or feed or any component goes into a row */
